.container {
  max-width: 5000px;
  margin: auto;
  padding: 2rem;
  gap: 1rem;
}

form mat-form-field {
  display: flex; 
  flex-direction: column;

}


.full-width {
  width: 100%;
  margin-top: 1rem;
}

.botoes-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.concluida {
  text-decoration: line-through;
  opacity: 0.6;
}
button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}
